[Unit]
Description=Ensure nick home directory ownership and mode
After=local-fs.target
Before=apply-skel.service display-manager.service sshd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/home/nick
ExecStart=/usr/bin/chown nick:nick /var/home/nick
ExecStart=/usr/bin/chmod 0700 /var/home/nick
ExecStart=-/usr/sbin/restorecon -F /var/home/nick

[Install]
WantedBy=multi-user.target
