[Unit]
Description=Apply firmware updates at shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
ConditionACPower=true

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/usr/bin/fwupdmgr update -y || true

[Install]
WantedBy=halt.target reboot.target shutdown.target